h1 {
    text-align: center;
}
h2{
    text-align: center;
}
.saving-amount{
    text-align: center;
}
.remaining-balance{
    text-align: center;
}
#save{
    background-color: lightskyblue;
    padding-left: 10px;
    padding-right: 10px;
padding-top: 3px;
padding-bottom: 3px;
color: white;
}
.calculate-button{
    color: white;
    margin-left: 85px;
    background-color: lightskyblue;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.main-part{
    display: flex;
    margin: auto;
    border: 10px;
    @media only screen and (max-width: 600px) {
        .example {background: red;}
      }
      @media only screen and (min-width: 992px) {
        .example {background: orange;}
      }  
}
.woner{
    color: red;
}
.padding{
    border: 10px;
    margin-left: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: azure;
}
.picture-border{
    border: 10px;
    margin-left: 360px;
    background-color:azure;
}